

services:
  mongo:
    image: mongo:6
    container_name: uber_mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: uber_redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
